body {
	background: url("../images/seamless-space.jpg");
	background-repeat: repeat;
	background-size: 50%;
	animation: animatedBackground 40s linear infinite;
}
h1, h3 {
	font-family: 'Orbitron', sans-serif;
}
h1, h2, h3 {
	color: #00e513;
}
.col-12 {
	margin: 0 auto;
	text-align: center;
}
img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}